html, body{
  margin: 0;
  padding: 0;
}

main{
  text-align: center;
  font-size: 28px;
}
button{
  font-size: 25px;
  padding: 10px;
  background-color: white;
  border: none;
  color: Green;
  box-shadow: 0 4px #999;
}

button:active{
  background-color: #white;
  box-shadow: 0 3px #666;
  transform: translateY(2px);
}

#guess{
  font-size: 20px;
  text-align: center;
}

#colorName{
  font-size: 30px;
}

#main{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}
