body{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#header{

}

#main{
  transition: .75s;
}

#main-thread{
  width: 65%;
  margin-left:auto;
  margin-right: auto;
}
#thread{
  font-size: 25px;
  margin-left: auto;
  margin-right: auto;
  margin: 10px;

}

#thread:nth-of-type(odd){
    background-color: lightgray;
}

#new{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#submit{
  font-size: 20px;
  padding: 10px;
  background-color: white;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
}

#burger{
  font-size: 50px;
  width: 50px;
  position: fixed;
  cursor: pointer; cursor: hand;

}

#slidenav p{
  color: white;
  text-align: center;
  font-size: 20px;
  background-color: firebrick;
  margin: 0;
  padding: 20px;
  cursor: pointer; cursor: hand;
}

#slidenav a{
  text-decoration: none;
  font-size: 25px;
}

#slidenav ul{
  list-style: none;
  padding: 10px;
}

#slidenav li{
  padding: 5px;
}

#slidenav{
  background-color: black;
  width: 200px;
  height: 100%;
  position: fixed;
  top: 0;
  left: -250px;
  transition: .75s;
}
