body{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background: firebrick;
}

.hide{
  display: none;
}

.show{
  
}

#main{
  transition: .75s;
}

#main-thread{
  width: 90%;
  margin-left:auto;
  margin-right: auto;
  border: 1px black solid;
  background-color: lightgray;
  box-shadow: 5px 10px 5px grey;
}

#thread{
  font-size: 25px;
  height: auto;
  margin-top: 10px;
  border-bottom: 1px white solid;
  overflow: auto;
  display: flex;
  justify-content: left;
  align-items: center;

}
#thread:nth-child(even) {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}

#thread{
  padding-left: 10px;
}

#new{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#submit{
  font-size: 20px;
  padding: 10px;
  background-color: white;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
}

button{
  font-size: 20px;
  padding: 10px;
  background-color: white;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
}

#burger{
  font-size: 50px;
  width: 50px;
  cursor: pointer; cursor: hand;
  z-index: 1;
}

#slidenav p{
  color: white;
  font-size: 20px;
  background-color: firebrick;
  margin: 0;
  padding: 20px;
  cursor: pointer; cursor: hand;
}

#slidenav a{
  text-decoration: none;
  font-size: 25px;
}

#slidenav ul{
  list-style: none;
  padding: 10px;
}

#slidenav li{
  margin-bottom: 30px;
  border-bottom: 2px white solid;
  width: 100%;
}

#slidenav{
  background-color: #ddd;
  width: 200px;
  height: 100%;
  position: fixed;
  top: 0;
  left: -250px;
  z-index: 2;
  transition: .75s;
}
